---
// Hidden Figma Workspace Layer - Revealed by paper fold interaction
import EasterEgg from '../easter-egg/EasterEgg.tsx';
---

<div id="figma-workspace" class="figma-workspace hidden">
  <EasterEgg client:only="react" />
</div>